@using RWA_Library.DAL;
@using RWA_Library.Models;
@{
    ViewBag.Title = "Home page";
    IList<Apartment> apts = ViewBag.apt as IList<Apartment>;
    IRepo repo = ViewBag.repo;
    string lang = Response.Cookies["lang"].Value;
    IList<SelectListItem> cities = new List<SelectListItem>();
    (ViewBag.cities as IList<City>).ToList().ForEach(c => cities.Add(new SelectListItem { Text = c.Name, Value = c.Name }));
    int rooms = (ViewBag.rooms is null) ? 0 : ViewBag.rooms;


}

<button class="btn btn-outline-dark m-2 px-4" id="btnFilters" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
    Show filters
</button>

<div class="collapse" id="collapseExample">
    <div class="p-3 d-flex flex-column" style="border-block: 1px solid #ccc;">
        <div class="col form-group">
            <label class="form-label" for="nRooms">@RWA_Public.Resources.Lanugage.Rooms</label>
            <input id="nRooms" type="number" min="0" step="1" class="form-control" />
        </div>
        <div class="col form-group">
            <label class="form-label" for="nAdults">@RWA_Public.Resources.Lanugage.Adults</label>
            <input id="nAdults" type="number" min="0" step="1" class="form-control" />
        </div>
        <div class="col form-group">
            <label class="form-label" for="nChildren">@RWA_Public.Resources.Lanugage.Children</label>
            <input id="nChildren" type="number" min="0" step="1" class="form-control" />
        </div>


        <div class="col d-flex justify-content-between mt-1">
            <div class="form-group">
                <label class="form-label" for="grad">@RWA_Public.Resources.Lanugage.Destination</label>
                @Html.DropDownList("City", cities, "-- Chose a city -- ", new { @class = "form-select" })
            </div>

            <div class="form-group">
                <label class="form-label" for="grad">@RWA_Public.Resources.Lanugage.Sort</label>
                @Html.DropDownList("City", cities, new { @class = "form-select" })
            </div>

        </div>
    </div>

</div>



<div class="d-flex flex-wrap ">
    @foreach (Apartment apartment in apts)
    {
        <div class="card m-2" style="width: 350px;">
            @{
                IList<ApartmentPicture> apartmentPictures = repo.GetPicturesByApartmentID(apartment.Id);
                ApartmentPicture picture = apartmentPictures.FirstOrDefault(a => a.IsRepresentative);
            }
            <img class="card-img-top" src="~/@picture.Path" alt="Card image cap" height="200">
            <div class="card-body">
                @if (lang == "hr")
                {
                    <h5 class="card-title">@apartment.Name</h5>
                }
                else
                {
                    <h5 class="card-title">@apartment.NameEng</h5>
                }

                <p class="card-text">
                    <span class="d-block">- @apartment.City.Name</span>
                    <span class="d-block">- @apartment.BeachDistance m @RWA_Public.Resources.Lanugage.Distance</span>
                    <span class="d-block">- @apartment.TotalRooms @RWA_Public.Resources.Lanugage.Rooms</span>
                    <span class="d-block">- @apartment.MaxAdults @RWA_Public.Resources.Lanugage.Adults</span>
                    <span class="d-block">- @apartment.MaxChildren @RWA_Public.Resources.Lanugage.Children</span>
                    <span class="d-block mt-2 fw-bold px-2">@apartment.Price €</span>
                </p>
                @Html.ActionLink(@RWA_Public.Resources.Lanugage.Reserve, "Reserve", new { id = apartment.Id, language = lang }, new { @class = "btn btn-outline-primary w-100" })
            </div>
        </div>


    }
</div>
<script>
    $('#btnFilters').click(function () {
        var setting = $('#collapseExample').css('display');
        console.log(setting);
        if (setting == "none") {
            $('#collapseExample').attr('style', 'display: block');
        } else {
            $('#collapseExample').attr('style', 'display: none;');
        }
    });




</script>



