@model RWA_Library.Models.Apartment
@using RWA_Library.Models;
@{
    ViewBag.Title = "Home page";
    string lang = ViewBag.lang as string;
    IList<SelectListItem> cities = new List<SelectListItem>();
    (ViewBag.cities as IList<City>).ToList().ForEach(c => cities.Add(new SelectListItem { Text = c.Name, Value = c.Name }));
    IList<SelectListItem> sortlist = new List<SelectListItem>();
    sortlist.Add(new SelectListItem { Text = RWA_Public.Resources.Lanugage.Default, Value = "d", Selected = true });
    sortlist.Add(new SelectListItem { Text = RWA_Public.Resources.Lanugage.PriceAsc, Value = "pu" });
    sortlist.Add(new SelectListItem { Text = RWA_Public.Resources.Lanugage.PriceDesc, Value = "ps" });

}


@using (Html.BeginForm("Filter", "Apartment"))
{
    <div>
        <div class="px-3 pb-3 d-flex flex-column" style="border-bottom: 1px solid #ccc;">
            <div class="col form-group w-25">
                <label class="form-label" for="nRooms">@RWA_Public.Resources.Lanugage.Rooms</label>
                <input id="nRooms" type="number" value="@Request.Cookies["rooms"].Value" min="0" step="1" name="rooms" class="form-control" />
            </div>
            <div class="col form-group  w-25">
                <label class="form-label" for="nAdults">@RWA_Public.Resources.Lanugage.Adults</label>
                <input id="nAdults" type="number" value="@Request.Cookies["adults"].Value" min="0" step="1" name="adults" class="form-control" />
            </div>
            <div class="col form-group  w-25">
                <label class="form-label" for="nChildren">@RWA_Public.Resources.Lanugage.Children</label>
                <input id="nChildren" type="number" value="@Request.Cookies["children"].Value" min="0" step="1" name="children" class="form-control" />
            </div>


            <div class="col d-flex justify-content-between mt-1">
                <div class="form-group">
                    <label class="form-label" for="grad">@RWA_Public.Resources.Lanugage.Destination</label>
                    @Html.DropDownList("City", cities, "-- Chose a city -- ", new { @class = "form-select" })
                </div>

                <div class="form-group">
                    <label class="form-label" for="grad">@RWA_Public.Resources.Lanugage.Sort</label>
                    @Html.DropDownList("Sort", sortlist, new { @class = "form-select" })
                </div>

            </div>
            <button class="mt-2 w-25 btn btn-info">Apply</button>
        </div>

    </div>
}




<div class="d-flex flex-wrap" id="content">
</div>
@section scripts{
    <script>
        let content = document.getElementById('content');
        let lang = "@lang"

        $(document).ready( function() {
            $.ajax({
                url: "/Apartment/GetApartments",
                method: "GET",
                success: function (data) {
                        for (var i = 0; i < data.length; i++) {
                            console.log(i);
                            console.log(data[i]);
                            const { Id, Name, NameEng, City, BeachDistance, TotalRooms, MaxAdults, MaxChildren, Price, Representative } = data[i];
                            const { Name: CityName } = City;
                            let filterRoom = "@Request.Cookies["rooms"].Value"
                            let filterChildren = "@Request.Cookies["children"].Value"
                            let filterAdults = "@Request.Cookies["adults"].Value"
                            let filterCity = "@Request.Cookies["city"].Value"
                            let stars = "";
                            let rnd = Math.floor(1 + Math.random() * (5 - 1 + 1));
                            for (var j = 0; j < rnd; j++) {
                                stars += `<i class="fa-solid fa-star"></i>`
                            }
                            //Svi podaci uneseni
                            if (TotalRooms == filterRoom && MaxAdults == filterAdults && MaxChildren == filterChildren && CityName == filterCity)

                                content.innerHTML += `<div class='card m-2' style='width: 350px;'>
                     <img class='card-img-top' src="${Representative}" alt='Card image cap' height='200'>
                    <div class='card-body'>
    <div class="d-flex justify-content-between">
                         <h5 class='card-title d-inline' id='name'>${(lang == "hr") ? Name : NameEng} </h5>
    <div class="d-inline mw-100 text-end">${stars}</div>
    </div>
                    <p class='card-text'>
                <span class='d-block' id='city'>- ${CityName}</span>
            <span class='d-block'>- ${BeachDistance} m @RWA_Public.Resources.Lanugage.Distance</span>
            <span class='d-block'>- ${TotalRooms} @RWA_Public.Resources.Lanugage.Rooms</span>
            <span class='d-block'>- ${MaxAdults} @RWA_Public.Resources.Lanugage.Adults</span>
            <span class='d-block'>- ${MaxChildren} @RWA_Public.Resources.Lanugage.Children</span>
            <span class='d-block mt-2 fw-bold px-2'>${Price} €</span>
             </p>
             <a class="btn btn-outline-primary w-100" href="/Apartment/Reserve/${Id}?language=eng">Reserve apartment</a>
                </div>
            </div>`
                                //Samo grad
                            else if (filterRoom == "0" && filterChildren == "0" && filterAdults == "0" && CityName == filterCity)

                                content.innerHTML += `<div class='card m-2' style='width: 350px;'>
                     <img class='card-img-top' src="${Representative}" alt='Card image cap' height='200'>
                    <div class='card-body'>
    <div class="d-flex justify-content-between">
                         <h5 class='card-title d-inline' id='name'>${(lang == "hr") ? Name : NameEng} </h5>
    <div class="d-inline mw-100 text-end">${stars}</div>
    </div>
                    <p class='card-text'>
                <span class='d-block' id='city'>- ${CityName}</span>
            <span class='d-block'>- ${BeachDistance} m @RWA_Public.Resources.Lanugage.Distance</span>
            <span class='d-block'>- ${TotalRooms} @RWA_Public.Resources.Lanugage.Rooms</span>
            <span class='d-block'>- ${MaxAdults} @RWA_Public.Resources.Lanugage.Adults</span>
            <span class='d-block'>- ${MaxChildren} @RWA_Public.Resources.Lanugage.Children</span>
            <span class='d-block mt-2 fw-bold px-2'>${Price} €</span>
             </p>
             <a class="btn btn-outline-primary w-100" href="/Apartment/Reserve/${Id}?language=eng">Reserve apartment</a>
                </div>
            </div>`
                                //Grad i jos 1 filter
                            else if ((parseInt(filterRoom) == TotalRooms && CityName == filterCity & filterAdults == "0" && filterChildren == "0") || (parseInt(filterAdults) == MaxAdults && CityName == filterCity && filterRoom == "0" && filterChildren == "0") || (parseInt(filterChildren) == MaxChildren && CityName == filterCity && filterAdults == "0" && filterRoom == "0"))

                                content.innerHTML += `<div class='card m-2' style='width: 350px;'>
                     <img class='card-img-top' src="${Representative}" alt='Card image cap' height='200'>
                    <div class='card-body'>
    <div class="d-flex justify-content-between">
                         <h5 class='card-title d-inline' id='name'>${(lang == "hr") ? Name : NameEng} </h5>
    <div class="d-inline mw-100 text-end">${stars}</div>
    </div>
                    <p class='card-text'>
                <span class='d-block' id='city'>- ${CityName}</span>
            <span class='d-block'>- ${BeachDistance} m @RWA_Public.Resources.Lanugage.Distance</span>
            <span class='d-block'>- ${TotalRooms} @RWA_Public.Resources.Lanugage.Rooms</span>
            <span class='d-block'>- ${MaxAdults} @RWA_Public.Resources.Lanugage.Adults</span>
            <span class='d-block'>- ${MaxChildren} @RWA_Public.Resources.Lanugage.Children</span>
            <span class='d-block mt-2 fw-bold px-2'>${Price} €</span>
             </p>
             <a class="btn btn-outline-primary w-100" href="/Apartment/Reserve/${Id}?language=eng">Reserve apartment</a>
                </div>
            </div>`
                                //1 filter bez grada
                            else if ( (filterRoom == TotalRooms && filterCity == "" & filterAdults == "0" && filterChildren == "0") || (filterAdults == MaxAdults && filterCity == "" && filterRoom == "0" && filterChildren == "0") || (filterChildren == MaxChildren && filterCity == "" && filterAdults == "0" && filterRoom == "0"))

                                content.innerHTML += `<div class='card m-2' style='width: 350px;'>
                     <img class='card-img-top' src="${Representative}" alt='Card image cap' height='200'>
                    <div class='card-body'>
    <div class="d-flex justify-content-between">
                         <h5 class='card-title d-inline' id='name'>${(lang == "hr") ? Name : NameEng} </h5>
    <div class="d-inline mw-100 text-end">${stars}</div>
    </div>
                    <p class='card-text'>
                <span class='d-block' id='city'>- ${CityName}</span>
            <span class='d-block'>- ${BeachDistance} m @RWA_Public.Resources.Lanugage.Distance</span>
            <span class='d-block'>- ${TotalRooms} @RWA_Public.Resources.Lanugage.Rooms</span>
            <span class='d-block'>- ${MaxAdults} @RWA_Public.Resources.Lanugage.Adults</span>
            <span class='d-block'>- ${MaxChildren} @RWA_Public.Resources.Lanugage.Children</span>
            <span class='d-block mt-2 fw-bold px-2'>${Price} €</span>
             </p>
             <a class="btn btn-outline-primary w-100" href="/Apartment/Reserve/${Id}?language=eng">Reserve apartment</a>
                </div>
            </div>`
                                //Nijedan filter
                            else if(filterRoom == "0" && filterChildren == "0" && filterAdults == "0" && filterCity == "")
                            {

                                content.innerHTML += `<div class='card m-2' style='width: 350px;'>
                     <img class='card-img-top' src="${Representative}" alt='Card image cap' height='200'>
                    <div class='card-body'>
    <div class="d-flex justify-content-between">
                         <h5 class='card-title d-inline' id='name'>${(lang == "hr") ? Name : NameEng} </h5>
    <div class="d-inline mw-100 text-end">${stars}</div>
    </div>
                    <p class='card-text'>
                <span class='d-block' id='city'>- ${CityName}</span>
            <span class='d-block'>- ${BeachDistance} m @RWA_Public.Resources.Lanugage.Distance</span>
            <span class='d-block'>- ${TotalRooms} @RWA_Public.Resources.Lanugage.Rooms</span>
            <span class='d-block'>- ${MaxAdults} @RWA_Public.Resources.Lanugage.Adults</span>
            <span class='d-block'>- ${MaxChildren} @RWA_Public.Resources.Lanugage.Children</span>
            <span class='d-block mt-2 fw-bold px-2'>${Price} €</span>
             </p>
             <a class="btn btn-outline-primary w-100" href="/Apartment/Reserve/${Id}?language=eng">Reserve apartment</a>
                </div>
            </div>`;

                            }



                    }
                }
            });
        });
    </script>
}




