@using RWA_Library.Models;
@{
    string msg = ViewBag.msg as string;
    Apartment apt = ViewBag.apt as Apartment;
    IList<ApartmentPicture> pictures = ViewBag.pictures as IList<ApartmentPicture>;
    ApartmentPicture rPicture = pictures.FirstOrDefault(p => p.IsRepresentative);
    IList<Tag> tags = ViewBag.tags as IList<Tag>;
    ViewBag.Title = $"Reserve - {apt.Name}";
    User user = ViewBag.user as User;
    string lang = ViewBag.lang as string;
}


@if (msg != "" && msg != null)
{
    <div class="alert alert-info" role="alert">
        @msg
    </div>
}

<h2 class="mx-2 fw-normal">@((lang == "hr") ? apt.Name : apt.NameEng) - @apt.City</h2>
<div class="d-flex stars">
    @for (int i = 0; i < apt.Stars; i++)
    {
        <i class="fa-solid fa-star"></i>
    }

</div>
<div class="d-flex">
    <div class="d-flex flex-column w-50" style="height:auto; border-right: 1px solid #ccc;">
        <div class="m-2 d-flex">
            <div class="d-flex flex-column" id="rPicture">

            </div>
            <div class="p-3 d-flex flex-column">
                <span class="fs-5 mx-3">• @apt.City</span>
                <span class="fs-5 mx-3">• @apt.BeachDistance @RWA_Public.Resources.Lanugage.Distance</span>
                <span class="fs-5 mx-3">• @apt.TotalRooms @RWA_Public.Resources.Lanugage.Rooms</span>
                <span class="fs-5 mx-3">• @apt.MaxAdults  @RWA_Public.Resources.Lanugage.Adults</span>
                <span class="fs-5 mx-3">• @apt.MaxChildren  @RWA_Public.Resources.Lanugage.Children</span>
                <span class="fs-5 mx-3">•  @RWA_Public.Resources.Lanugage.Owner: @apt.Owner.Name</span>
            </div>
        </div>
        <div class="container">
            @if (tags.Count % 2 == 0)
            {
                for (int i = 0; i < tags.Count; i += 2)
                {
                    <div class="row">
                        @for (int j = 0; j < 2; j++)
                        {
                            if (lang == "hr")
                            {
                                <span class="col fs-5">• @tags[i + j].Name</span>
                            }
                            else
                            {
                                <span class="col fs-5">• @tags[i + j].NameEng</span>
                            }
                        }
                    </div>
                }



            }
            else
            {
                for (int i = 0; i < tags.Count - 1; i += 2)
                {

                    <div class="row">
                        @for (int j = 0; j < 2; j++)
                        {
                            if (lang == "hr")
                            {
                                <span class="col fs-5">• @tags[i + j].Name</span>
                            }
                            else
                            {
                                <span class="col fs-5">• @tags[i + j].NameEng</span>
                            }

                        }
                    </div>
                }
                if (lang == "hr")
                {
                    <div class="row">
                        <span class="col fs-5">• @tags[tags.Count - 1].Name</span>
                    </div>
                }
                else
                {
                    <div class="row">
                        <span class="col fs-5">• @tags[tags.Count - 1].NameEng</span>
                    </div>
                }


            }

        </div>

    </div>

    <div class="px-5">
        <h2>@RWA_Public.Resources.Lanugage.ContactUs</h2>

        <div class="form-group">
            <label for="fname">@RWA_Public.Resources.Lanugage.FName</label>
            <input type="text" class="form-control mb-2 m-0" style="width: 400px;" id="fname" value="@((user != null) ? user.FName : "")" />
        </div>
        <div class="form-group">
            <label for="lname">@RWA_Public.Resources.Lanugage.LName</label>
            <input type="text" class="form-control w-100  mb-2" id="lname" value="@((user != null) ? user.LName : "")" />
        </div>
        <div class="form-group">
            <label for="exampleInputEmail1">@RWA_Public.Resources.Lanugage.Email</label>
            <input type="email" class="form-control w-100  mb-2" id="email" value="@((user != null) ? user.Email : "")" />
        </div>
        <div class="form-group">
            <label for="phNum">@RWA_Public.Resources.Lanugage.Phone</label>
            <input type="tel" class="form-control w-100  mb-2" id="phNum" value="@((user != null) ? user.PhoneNumber : "")" />
        </div>
        <div class="d-flex justify-content-around">
            <div>
                <label for="adults">@RWA_Public.Resources.Lanugage.Adults</label>
                <input type="number" min="0" class="form-control w-75 m-0" id="adults">
            </div>
            <div>
                <label for="children">@RWA_Public.Resources.Lanugage.Children</label>
                <input type="number" min="0" class="form-control w-75  m-0" id="children">
            </div>
        </div>
        <div class="form-group">
            <label for="fromDate">@RWA_Public.Resources.Lanugage.From</label>
            <input type="date" class="form-control mb-2 m-0" name="fromDate" id="fromDate" />
        </div>
        <div class="form-group">
            <label for="toDate">@RWA_Public.Resources.Lanugage.To</label>
            <input type="date" class="form-control mb-2 m-0" id="toDate" name="toDate" disabled />
        </div>
        <button type="submit" class="btn btn-primary">@RWA_Public.Resources.Lanugage.Reserve</button>
    </div>


</div>
<div class="mt-4 w-100" id="grouped-images-1">
    <div class="pb-8 d-flex flex-wrap" id="images">
    </div>
</div>

<div class="mt-2 w-100 d-flex justify-content-center">
    <button class="btn btn-outline-warning w-25" data-bs-toggle="modal" id="btnReview" data-bs-target="#modalReview">Ostavite recenziju</button>
</div>




<div class="modal fade" id="modalReview" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Review</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            @if (user != null)
            {
                using (Html.BeginForm("Review", "Query", new { userid = user.Id, aptid = apt.Id }, FormMethod.Post, null))
                {
                    <div class="modal-body">
                        <div style="display: block;" id="reviewForm">
                            <div>
                                <div class="d-flex flex-column w-100 justify-content-center">
                                    <label class="form-label">@RWA_Public.Resources.Lanugage.Star</label>
                                    <input type="range" class="form-range mw-100 align-self-center"
                                           min="0" max="5" step="1" value="5" name="stars"
                                           id="rngComfort" oninput="setLabel('rngComfort', 'comfortRating')">
                                    <label style="color: forestgreen;" class="fs-5 d-block mt-1 text-center" id="comfortRating">5</label>
                                </div>
                            </div>
                            <div>
                                <div class="d-flex flex-column w-100 justify-content-center">
                                    <label class="form-label">@RWA_Public.Resources.Lanugage.Details</label>
                                    <textarea class="form-control" name="details"></textarea>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="submit" id="btnSave" class="btn btn-primary">Save changes</button>
                    </div>
                }
            }
        </div>
    </div>
</div>

@section scripts{
    <script src="https://cdn.jsdelivr.net/npm/@("@fancyapps")/ui@4.0/dist/fancybox.umd.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@("@fancyapps")/ui/dist/fancybox.css" />

    <script>
    $(document).ready(function () {
        $('#fromDate').change(function () {
            var fromDate = $('#fromDate').val();
            $('#toDate').prop('disabled', false);
            $("#toDate").attr("min", fromDate);
        });

        $.ajax({
            url: "/Apartment/GetPicturesByApartment/@apt.Id",
            method: "GET",
            success: function (data) {
                for (var i = 0; i < data.length; i++) {
                    const { Path } = data[i];
                    console.log(Path);
                    document.getElementById("images").innerHTML +=

                    ` <a data-fancybox="gallery-1" href="/${Path}" class="me-1 mb-1">
                <img class="rounded" src="/${Path}" width="200" height="150" />
            </a>`

                }
            }


        });

        $.ajax({
            url: "/Apartment/GetRPictureByApartment/@apt.Id",
            method: "GET",
            success: function (data) {
                const { Path } = data;
                console.log(data);
                document.getElementById("rPicture").innerHTML +=
                                           ` <img data-fancybox="rP" src="/${Path}" style="width: 400px; filter: drop-shadow(0 0 0.25rem black);" id="rP" />
                <span class="fs-4 p-2 fw-bold">@RWA_Public.Resources.Lanugage.Price: @apt.Price €</span>`;

            }
        });


        });
    Fancybox.bind("#grouped-images-1 a", {
        // Your options
    });
    Fancybox.bind("#rp img", {
        // Your options
    });

    var user = "@user";
    if (user == '') {
        $('#btnReview').attr('disabled', true);
    }else {
        $('#btnReview').attr('disabled', false);

    }

    function setLabel(inputID, labelID) {
        var input = document.getElementById(inputID).value;
        document.getElementById(labelID).innerHTML = input;
    }



    </script>
}



