@using RWA_Library.Models;
@{
    User user = ViewBag.user as User;
    string lang = ViewBag.lang as string;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/modernizr-2.8.3.js"></script>
    <script src="~/Scripts/jquery-3.6.0.min.js"></script>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4/jquery.min.js"></script>
    <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
    <script src="https://kit.fontawesome.com/7c24ff87b0.js" crossorigin="anonymous"></script>

    <style>
        body {
            padding: 0;
        }

        .stars {
            padding-inline: 1em;
            margin-top: 5em;
            position: absolute;
            right: 0;
            top: 0;
        }
    </style>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark mb-3" style="background-color: #D49B54;">
            <a class="navbar-brand" href="/">
                <img src="~/Images/navigator.png" width="35" height="35" class="d-inline-block align-top" id="logo" />
                RWA Apartments
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse d-lg-inline-flex justify-content-between" id="navbarNav">
                <form asp-controller="Apartment" asp-action="Filter" class="form-inline d-flex my-2 my-lg-0 w-75">
                    <input name="serachString" class="form-control w-100" style="margin-left: 2em; margin-right:5px;" type="search" placeholder="@RWA_Public.Resources.Lanugage.SearchApt" aria-label="Search">
                    <button class="btn btn-outline-dark my-2 my-sm-0 px-lg-4" type="submit">@RWA_Public.Resources.Lanugage.Search</button>
                </form>
                <ul class="navbar-nav flex-grow-1 justify-content-end ">
                    <li class="nav-item">
                        @Html.ActionLink(RWA_Public.Resources.Lanugage.Contact, "Index", lang, new { @class = "nav-link" })

                    </li>
                    <li class="nav-item">
                        @Html.ActionLink(RWA_Public.Resources.Lanugage.About, "Index", lang, new { @class = "nav-link" })
                    </li>
                    <li class="nav-item">
                        @switch (lang)
                        {
                            case "hr":
                                @Html.ActionLink(RWA_Public.Resources.Lanugage.Language, "Index", new { language = "eng" }, new { @class = "nav-link" });

                                break;
                            default:
                                @Html.ActionLink(RWA_Public.Resources.Lanugage.Language, "Index", new { language = "hr" }, new { @class = "nav-link" });
                                break;

                        }

                    </li>


                    <li class="nav-item me-4">
                        @if (user is null)
                        {
                            @Html.ActionLink(RWA_Public.Resources.Lanugage.Login, "Login", "Home", lang, htmlAttributes: new { @class = "nav-link" })

                        }
                        else
                        {
                            <span class="nav-link active">@user.FName</span>
                        }
                    </li>
                </ul>

            </div>
        </nav>
    </header>
    <div class="m-2 h-100">
        @RenderBody()
        <hr />
        <footer class="text-center">
            <p>&copy; @DateTime.Now.Year - Arjan Jakupi</p>
        </footer>
    </div>


    <script src="~/Scripts/bootstrap.js"></script>


    <script src="~/Scripts/jquery.fancybox.js"></script>



</body>
</html>